@import "styles.css";

body {
    width: 100%;
    height: 100vh;
}

header {
    height: 10%;
}

nav {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo_nav {
    width: 8%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 85%;
}

#filter {
    margin-top: 1rem;
    height: 5%;
}

#places-list {
    height: 100%;
    width: 100%;
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    overflow-y: scroll;
}

.place-card {
    padding: 10px;
    width: 20%;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    margin: 20px;
}

.details-button {
    width: 30%;
    padding: 5px;
    color: aliceblue;
    background-color: rgb(90, 90, 90);
    border-radius: 5px;
}

footer {
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}