@import "styles.css";

.login_page {
    background-color: aquamarine;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(https://static.wixstatic.com/media/0050a1_ca96c659cda643dbb8d7073db2e408d3~mv2.png/v1/fill/w_1390,h_747,al_c,q_90,usm_0.66_1.00_0.01,enc_avif,quality_auto/0050a1_ca96c659cda643dbb8d7073db2e408d3~mv2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.login_form {
    background-color: transparent !important;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 80%;
    border-radius: 10px;
    border: 0;
}

/* Top section */
.form_top {
    background-color: transparent !important;
    width: 100%;
    height: 50%;
    border-radius: 5px 5px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: azure;
    text-align: center;
}

.form_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    height: 80%;
}

/* Bottom section (Form) */
#login-form {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    align-items: center;
    justify-content: center;
    gap: 15px;
    border-radius: 0 0 5px 5px;
}

/* Title (Login) adjustments */
#login-form h2 {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 20px;
}


/* Label styling */
#login-form label {
    font-weight: bold;
    text-align: left;
    width: 70%;
}

/* Input container with icons */
.input-container {
    position: relative;
    width: 70%;
}

/* Icons */
.input-container i {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 16px;
}

/* Input fields */
.input-container input {
    width: 100%;
    padding: 10px 10px 10px 40px;
    border: none;
    border-radius: 5px;
    background-color: #181B1D;
    color: white;
    font-size: 16px;
    outline: none;
}

.input-container input::placeholder {
    color: white;
    opacity: 0.8;
}

/* Login button styling */
button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #181B1D;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-top: 30px;
}

button:hover {
    background-color: #2C3742;
}